@model Narzedzia.Models.Events

@{
    ViewData["Title"] = "Usuwanie wydarzenia";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/AwarieStyle.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap">

</head>

<h1 class="oswald_400 tools-header">Usuwanie wydarzenia:</h1>

@{
    if (!String.IsNullOrEmpty(ViewBag.DeleteMessage))
    {
        <h5 class="alert alert-info" role="alert"><i class="bi-info-circle"></i>&nbsp; @ViewBag.DeleteMessage</h5>
    }
    else
    {
        <h5 class="alert alert-danger" role="alert"><i class="bi-exclamation-triangle"></i>&nbsp; Czy na pewno usunąć to wydarzenie?</h5>
    }
}
<div>
    <h4>Wydarzenie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameCal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameCal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionCal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionCal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartCal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartCal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndCal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndCal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wydzial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wydzial.NazwaWydzialu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stanowisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stanowisko.NazwaStanowiska)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Narzedzie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Narzedzie.Nazwa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCal" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
    </form>
</div>
