@model IEnumerable<Narzedzia.Models.Narzedzie>

@{
    ViewData["Title"] = "Narzędzia";
}

<style>
    .card {
        height: 100%;
    }

    .card-img-top {
        object-fit: cover;
        height: 400px; /* Rozmiar zdjęcia na stronie "Narzędzia" */
    }

    .thumbnail-img {
        max-width: 100px; /* Rozmiar miniatury zdjęcia */
    }
</style>

<h1 class="oswald_400 tools-header">Spis Narzędzi</h1>
<hr />

<div class="form-group">
    <label for="searchInput">Wyszukaj narzędzie:</label>
    <input type="text" id="searchInput" placeholder="Szukaj...">
    <p></p>
</div>

<div class="row" id="cardContainer">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4 card-item">
            <div class="card">
                <img src="~/img/narzedziagraphic/@item.ZdjecieFileName" class="card-img-top" alt="Zdjęcie narzędzia">
                <div class="card-body">
                    <h5 class="card-title">@item.Nazwa</h5>
                    <p class="card-text">
                        Producent: @item.Producenci.NazwaProducenta<br />
                        Numer narzędzia: @item.NumerNarzedzia<br />
                        Kategoria: @item.Kategorie.NazwaKategorii<br />
                        Data przyjęcia: @item.DataPrzyjecia.ToShortDateString()<br />
                        Status: @item.Status<br />
                        Użytkownik: @(item.Uzytkownicy != null ? item.Uzytkownicy.UserName : "Brak informacji")
                    </p>
                    @{
    if (User.IsInRole("admin") || (User.IsInRole("nadzor")))
    {
                            <div class="btn-group btn-group-lg">
                                <a asp-action="Details" asp-route-id="@item.NarzedzieId" class="btn btn-outline-secondary btn-sm" title="Szczegóły"><i class="bi bi-info-square"></i></a>
                            <a asp-action="Edit" asp-route-id="@item.NarzedzieId" class="btn btn-outline-primary btn-sm" title="Edytuj"><i class="bi bi-pencil"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.NarzedzieId" class="btn btn-outline-danger btn-sm" title="Usuń"><i class="bi bi-trash"></i></a>
                            </div>
                        }
    }
                   
                    </div>
            </div>
        </div>
    }
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById("searchInput");
        const cardItems = document.querySelectorAll(".card-item");

        searchInput.addEventListener("input", function () {
            const searchText = searchInput.value.trim().toLowerCase();

            cardItems.forEach(function (cardItem) {
                const cardTitle = cardItem.querySelector(".card-title").textContent.toLowerCase();

                if (cardTitle.includes(searchText) || searchText === "") {
                    cardItem.style.display = "block";
                } else {
                    cardItem.style.display = "none";
                }
            });
        });
    });
</script>
