@model Tuple<List<Narzedzie>, List<Awaria>>

<table class="table" id="awarie2">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Opis awarii:")
            </th>
            <th>
                @Html.DisplayName("Numer telefonu:")
            </th>
            <th>
                @Html.DisplayName("Data zgłoszenia:")
            </th>
            <th>
                @Html.DisplayName("Status realizacji:")
            </th>
             @if (User.IsInRole("admin") || User.IsInRole("nadzor"))
                    {
            <th>
                @Html.DisplayName("Użytkownik zgłaszający:")
            </th>
                    }
           
            <th>
                @Html.DisplayName("Nazwa narzędzia:")
            </th>
             
            <th>

                @Html.DisplayName("Opcje:")
            </th>
                    
                    
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item2.Where(a => a.Status != StatusAwaria.zakończone))
        {
            <tr>
                <td>
                    @if (item.DescriptionAwaria.Length <= 40)
                    {
                        @Html.DisplayFor(modelItem => item.DescriptionAwaria)
                    }
                    else
                    {
                        @(item.DescriptionAwaria.Substring(0, 30) + "...")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberAwaria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPrzyjecia)
                </td>
                <td class="col-md-1.5">
                    @switch (item.Status)
                    {
                        case StatusAwaria.nowe:
                            <i class="bi bi-circle-fill" style="color: var(--bs-success);"></i>
                            break;
                        case StatusAwaria.realizacja:
                            <i class="bi bi-circle-fill" style="color: var(--bs-primary);"></i>
                            break;
                        case StatusAwaria.zakończone:
                            <i class="bi bi-circle-fill" style="color: var(--bs-secondary);"></i>
                            break;
                        case StatusAwaria.oczekujące:
                            <i class="bi bi-circle-fill" style="color: var(--bs-warning);"></i>
                            break;
                    }
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @{
                    if (User.IsInRole("admin") || User.IsInRole("nadzor"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Uzytkownicy.Email)
                </td>
                }
                }
               
                <td>
                    @Html.DisplayFor(modelItem => item.Narzedzie.Nazwa)
                </td>
                <td>

                    
                        <a asp-area="" asp-controller="Awarie" asp-action="Details" asp-route-id="@item.IdAwaria" class="btn btn-primary btn-sm" target="_blank">Przejdź do zgłoszenia</a>
                    
                    

                </td>
            </tr>
        }
    </tbody>
</table>
